<div class="addthis_toolbox addthis_default_style addthis_32x32_style" {% if article.url %} addthis:url={{shop.url}}{{article.url}} addthis:title={{article.title}} {% endif %} >
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type='text/javascript'>
  var addthis_product = 'sfy-2.0.2';
  var addthis_plugin_info = {"info_status":"enabled","cms_name":"Shopify","cms_version":null,"plugin_name":"AddThis Sharing Tool","plugin_version":"2.0.2","plugin_mode":"AddThis"};
  var addthis_config     = {/*AddThisShopify_config_begins*/pubid:'xa-525fbbd6215b4f1a', button_style:'style3', services_compact:'', ui_delay:0, ui_click:false, ui_language:'', data_track_clickback:true, data_ga_tracker:'', custom_services:'', custom_services_size:true/*AddThisShopify_config_ends*/};
</script>
<script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-525fbbd6215b4f1a'></script>





<!--div class="woodmart-scroll has-scrollbar">
  <div class="xtemos-demos-dropdown-wrapper woodmart-scroll-content">
    <div class="xtemos-demo-preview-item">
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/?preview_theme_id=31754485802" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://wood.r.worldssl.net/wp-content/uploads/2017/01/default.jpg" data-lazy-original="https://wood.r.worldssl.net/wp-content/uploads/2017/01/default.jpg"><div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Demo Default</div>
      </div>
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/?preview_theme_id=31818121258" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Minimalism.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Minimalism.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Demo Minimalism</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/?preview_theme_id=31818285098" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Fashion1.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Fashion1.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Demo Fashion</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/?preview_theme_id=31818186794" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/preview-jewellery.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/preview-jewellery.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Demo Jewellery</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/?preview_theme_id=31818219562" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Electronics1.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Electronics1.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Demo Electronics</div>
      </div> 
    </div> 
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/?preview_theme_id=31817760810" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Boxed.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Boxed.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Layout boxed</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/pages/landing-page" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Landing.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Landing.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Landing</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/pages/contact-us" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Contact-Us1.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/Contact-Us1.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Contact Us</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/pages/about-me" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/About-me-–-WoodMart.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/About-me-–-WoodMart.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">About me</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/pages/faq" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/FAQs2.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/FAQs2.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">FAQs</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/henectus-tincidunt/?preview_theme_id=31754485802" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Product</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/smart-watches-wood-edition/?preview_theme_id=31817990186" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_center.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_center.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Product center</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/smart-watches-wood-edition/?preview_theme_id=31816712234" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_shadow.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_shadow.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Product shadow</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/smart-watches-wood-edition/?preview_theme_id=31817891882" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/accordion_content.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/accordion_content.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Accordion content</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/smart-watches-wood-edition/?preview_theme_id=31817662506" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_sticky_gif_2.gif" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_sticky_gif_2.gif">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Product sticky</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/smart-watches-wood-edition/?preview_theme_id=31817826346" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/images_col_2.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/images_col_2.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Images 2 column</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/smart-watches-wood-edition/?preview_theme_id=31724929066" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/image_sticky_gif.gif" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/image_sticky_gif.gif">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Images sticky</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/smart-watches-wood-edition/?preview_theme_id=31817269290" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_sidebar.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_sidebar.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Product sidebar</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/products/penatibus-parturient-orci-morbi/?preview_theme_id=31817990186" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_bg.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product_bg.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Product background</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/ajax_shop.gif" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/ajax_shop.gif">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">AJAX Shop</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/?preview_theme_id=31817367594" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/no_page_heading.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/no_page_heading.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">No page heading</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/?preview_theme_id=31817662506" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/infinit_scrolling2.gif" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/infinit_scrolling2.gif">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Shop Infinite</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/?preview_theme_id=31817760810" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/small_categories.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/small_categories.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Small categories</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/?preview_theme_id=31817236522" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/filters_area.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/filters_area.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Filters area</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/?preview_theme_id=31754485802" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/only_categories.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/only_categories.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Only categories</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/?preview_theme_id=31817728042" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/hidden_sidebar.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/hidden_sidebar.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Hidden sidebar</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item"> 
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/shop/?preview_theme_id=31817334826" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/shop-masonry.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/shop-masonry.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Shop masonry</div>
      </div> 
    </div>
    <div class="xtemos-demo-preview-item">  
      <div class="xtemos-demo-preview-item-inner">
        <a href="https://woodmart-default.myshopify.com/collections/accessories" class="xtemos-demo-preview-link"></a>
        <div class="xtemos-demo-image xtemos-image-loaded">
          <img class="xtemos-lazy" src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product-category.jpg" data-lazy-original="https://woodmart.xtemos.com/wp-content/uploads/2017/01/product-category.jpg">
          <div class="xtemos-preview-loader"></div>
        </div>
        <div class="xtemos-demo-name">Product category</div>
      </div> 
    </div>
  </div>
</div-->