<!-- /templates/cart.liquid -->
<div class="main-page-wrapper">
  {% include 'page-heading' %} 
  <div class="container">
    <div class="row content-layout-wrapper">
      <div class="site-content col-sm-12">
        {% section 'cart-template' %}
      </div>
    </div>
  </div>
</div>{% include 'wiser_related' %}{% include 'wiser_recommended' %}{% include 'wiser_trending' %}{% include 'wiser_recentview' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_topselling' %}{% include 'wiser_recent_related' %}