<div class="page-width">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="rte">
        <div class="container">
     	{% include 'instant-brand-page-content' %}
      </div>  
     </div>
      
    
</div>


