<!-- /templates/page.liquid -->
<div class="main-page-wrapper"> 
  <div class="container"> 
    <div class="row content-layout-wrapper">
      <div class="site-content col-sm-12">
        {%- section 'landing-page' -%}
      </div>
    </div>
  </div>
</div>